.rotate {
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(360deg);
    }
};

.mask{
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}