:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  animation: slideAnimation 20s linear infinite;
  /* Adjust the animation duration as needed */
}

.mask {
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.polygon{
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
